@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
	box-sizing: border-box;
}
*::-webkit-scrollbar{
    width: 2px;
    background: transparent;
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb{
    width: 2px;
    background: #18538E;
    border-radius: 10px;
}
html{
    scroll-behavior: smooth;
}
body{
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	min-height: 100vh;
	font-family: Roboto, sans-serif;
	font-style: normal;
	font-size: 14px;
	line-height: 16px;
	background: url("../img/bg.jpeg") center center / cover no-repeat;
	color: #f5f5f5;
}
ol,ul,li{
	padding: 0;
	list-style: none;
}
button,button:active,button:focus,
input,input:active,input:focus,
textarea,textarea:active,textarea:focus{
	border:none;
	outline:none;
	resize: none;
}
a,a:hover,a:focus{
	text-decoration:none;
	color:inherit;
	outline:none;
}
h1,h2,h3,h4,h5,h6,p,label{
	margin: 0;
	padding: 0;
}
@media (max-width: 768px){
	body{
		/*min-height: 0vh;
		height: 100%;*/
	}
}

/*---------------------------------------------------------*/
#appointment-form{
	position: fixed;
	left: 35px;
	bottom: 40px;
	width: 300px;
	/height: 605px;
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	/max-height: calc(100vh - 20px);
	background: #025ea1;
	overflow-y: scroll;
	box-shadow: 0 0 5px 1px #025ea1;
	border-radius: 6px;
	transition: .2s;
	transform: scale3d(0,0,0);
	transform-origin: left bottom;
	z-index: 1000;
}
#appointment-form.off{
	pointer-events: none;
}

#appointment-form.active{
	transform: scale3d(1,1,1);
}
#appointment-form::-webkit-scrollbar{
	width: 2px;
	background: transparent;
	border-radius: 10px;
}
#appointment-form::-webkit-scrollbar-thumb{
	width: 2px;
	background: #18538E;
	border-radius: 10px;
}

.selection-block,
.appointment-form_input-wrapper{
	position: relative;
	width: 100%;
	max-height: 300px;
	margin-bottom: 15px;
	border-radius: 6px;
    cursor: pointer;
    background-color: #1B3257;
    transition: .5s;
}

.selection-block.error,
.appointment-form_input-wrapper.error{
	box-shadow: inset 0 0 0px 2px red;
}

.selection-block.hidden{
	max-height: 0;
	margin-bottom: 0;
	transform-origin: center top;
	transform: scaleY(0);
}

.selection-item-selected{
	position: relative;
	width: 100%;
	height: 36px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 15px;
	color: #FFF;
    font-size: 12px;
    transition: .3s;
    border-radius: 6px;
}
.selection-item-selected:hover{
	background-color: #254579;
}
.selection-item-selected:before{
	content:'';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	width: 10px;
	height: 10px;
	background: url(../img/dropdown.svg) center center/contain no-repeat;
	cursor: pointer;
}

.selection-item-list{
	margin: 0;
	padding: 0;
	max-height: 0px;
	border-radius: 0 0 6px 6px;
	overflow: hidden;
	transition: .5s;
}
.selection-item-list.active{
	max-height: 150px;
	overflow-y: scroll;
}

.selection-item-list li,
.appointment-form_input{
	width: 100%;
	height: 36px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	font-size: 12px;
	color: #f5f5f5;
	transition: .3s;
	background: transparent;
	border-radius: 6px; 
	cursor: pointer;
	user-select: none;
}

.selection-item-list li:hover {
    background-color: #254579;
    color: white;
}
.selection-item-list li span{
	font-weight: 600;
}
.appointment-form_input{
	cursor: auto;
}
.appointment-form_input::placeholder,
.appointment-form_textarea::placeholder{
	color: #f5f5f5;
}

.appointment-form_textarea{
	width: 100%;
	height: 100px;
	padding: 5px 15px;
	font-size: 12px;
	color: #f5f5f5;
	transition: .3s;
	background: transparent;
	border-radius: 6px; 
	cursor: pointer;
}

.appointment-form_submit-wrapper{
	max-height: 0;
	overflow: hidden;
	transition: .3s;
}
.appointment-form_submit-wrapper.active{
	max-height: 40px;
}

.appointment-form_button{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 36px;
	min-width: 100px;
	padding: 0 15px;
	margin: 0 auto;
	background: #12b1e3;
	border:1px solid #12b1e3;
	color: #fff;
	text-transform: none;
	font-weight: 500;
	border-radius: 6px;
	transition: .3s;
	user-select: none;
	pointer-events: none;
}
.appointment-form_button:hover{
	background: #3eddff;
	color: #f5f5f5;
}

.appointment-form_button:before{
	content:'';
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%); 
	transition: .2s;
	background: url(../img/reload.svg) center center/contain no-repeat;
	pointer-events: none;
	animation: rotating 1s linear infinite;
	opacity: 0;
}

.appointment-form_submit-wrapper.active .appointment-form_button{
	pointer-events: auto;
}

.appointment-form_submit-wrapper.active .appointment-form_button.loading{
	pointer-events: none;
	color:transparent;
}
.appointment-form_submit-wrapper.active .appointment-form_button.loading:before{
	opacity: 1;
}

@keyframes rotating {
	from{
		transform: translate(-50%, -50%) rotate(0); 
	}
	to{
		transform: translate(-50%, -50%) rotate(360deg); 
	}
}

.appointment-result-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #025ea1;
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: .3s;
}
.appointment-result-wrapper.active{
	pointer-events: auto;
	opacity: 1;
}
#appointment-result{
	width: 100%;
	position: relative;
	text-align: center;
	color:#fff;
}
#appointment-result.error{
	font-size: 17px;
	line-height: 1.3;
}
#appointment-result.success{
	font-size: 20px;
}
#appointment-result.success:before{
	content:'';
	width: 50px;
	height: 50px;
	position: absolute;
	top: -60px;
	left: 50%;
	transform: translate(-50%, 0%); 
	transition: .2s;
	border-radius: 50%;
	background: url("../img/success.svg") center center/contain no-repeat;
	pointer-events: none;
}

/*********************************************************************************/

.appointment-button-wrapper .windows8 {
	display: none;
}

.appointment-button-wrapper.loading .windows8{
	display: block;
}

.appointment-button-wrapper.loading button {
	pointer-events: none;
	opacity: 0;
}

#appointment-button{
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 10px;
	bottom: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border:none;
	outline: none;
	background: transparent;
	z-index: 1005;
	cursor: pointer;
	transition: all .2s, color 0s;
}
#appointment-button:before{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: rgba(2, 94, 161, .5);
	animation: appointmentPulse 1.5s linear infinite;
	z-index: 0;
	cursor: pointer;
	transition: .2s;
}
#appointment-button:after{
	content:'';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: url("../img/medical-appointment.svg") center center/contain no-repeat #025ea1;
	z-index: 1;
	cursor: pointer;
	transition: .2s;
}
#appointment-button.active{
	background: url("../img/cancel.svg") center center/contain no-repeat;
	box-shadow: 0 0 5px 1px #18538E;
	padding: 0;
	color: transparent;
	border-radius: 50%;
	font-size: 0;
}
#appointment-button.active:before,
#appointment-button.active:after{
	animation: none;
	opacity: 0;
}

#appointment-button.success{
	background: url("../img/success.svg") center center/contain no-repeat #025ea1;
	box-shadow: none;
	padding: 0;
	color: transparent;
	border-radius: 50%;
	font-size: 0;
}
#appointment-button.success:before,
#appointment-button.success:after{
	animation: none;
	opacity: 0 !important;
}
@keyframes appointmentPulse {
	from{
		transform: scale3d(1,1,1);
		opacity: 1;
	}
	to{
		transform: scale3d(1.2,1.2,1.2);
		opacity: 0;
	}
}
@media (max-width: 768px){
	#appointment-form{
		/height: calc(80vh - 60px);
		/max-height: calc(80vh - 60px);
	}
}

/*-------------------------------------------------*/
.windows8 {
	position: fixed;
	left: 20px;
	bottom: 20px;
	width: 50px;
	height:50px;
	margin:auto;
}

.windows8 .wBall {
	position: absolute;
	width: 47px;
	height: 47px;
	opacity: 0;
	transform: rotate(225deg);
	animation: orbit 3.9325s infinite;
}

.windows8 .wBall .wInnerBall{
	position: absolute;
	width: 6px;
	height: 6px;
	background: rgb(2,95,161);
	left:0px;
	top:0px;
	border-radius: 6px;
}

.windows8 #wBall_1 {
	animation-delay: 0.856s;
}

.windows8 #wBall_2 {
	animation-delay: 0.173s;
}

.windows8 #wBall_3 {
	animation-delay: 0.3465s;
}

.windows8 #wBall_4 {
	animation-delay: 0.5095s;
}

.windows8 #wBall_5 {
	animation-delay: 0.693s;
}



@keyframes orbit {
	0% {
		opacity: 1;
		z-index:99;
		transform: rotate(180deg);
		animation-timing-function: ease-out;
	}

	7% {
		opacity: 1;
		transform: rotate(300deg);
		animation-timing-function: linear;
		origin:0%;
	}

	30% {
		opacity: 1;
		transform:rotate(410deg);
		animation-timing-function: ease-in-out;
		origin:7%;
	}

	39% {
		opacity: 1;
		transform: rotate(645deg);
		animation-timing-function: linear;
		origin:30%;
	}

	70% {
		opacity: 1;
		transform: rotate(770deg);
		animation-timing-function: ease-out;
		origin:39%;
	}

	75% {
		opacity: 1;
		transform: rotate(900deg);
		animation-timing-function: ease-out;
		origin:70%;
	}

	76% {
		opacity: 0;
		transform:rotate(900deg);
	}

	100% {
		opacity: 0;
		transform: rotate(900deg);
	}
}